.passwordwrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.password{
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    font-size: 8vw;
    /* height: 13vh; */
}

.heading{
    font-size: 8vw;
}

.name{
    font-family: 'Oswald';
    color: white;
    font-size: 100%;
    width: fit-content;
}
.beta{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Oswald';
    color: white;
    font-size: 50%;
    margin-top: -1ch;
    width: fit-content;
}


.passinput{
    margin-top: 1ch;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: calc(8vw * 16 / 2.4);
    height: 7vw;
    /* background-color: #303030; */
    /* background-color: rgba(255, 255, 255, 0.12); */
    background-color: var(--secondary);
    outline: none;
    /* border: 1px solid white; */
    box-shadow: none;
    /* padding-left: 10%; */
    color: white;
    /* font-size: calc(8vw * 0.8); */
    /* font-size: calc(3vw); */
    font-size: 4vw;
    box-sizing: border-box;
    border-radius: 0.2rem;
    /* font-family: 'Oswald'; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Oswald';
    border: none;
}
.input{
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
}

@media only screen and (min-width: 658px){
    .heading{
        font-size: 52.64px;
    }

    /* .beta{
        font-size: 42.112px;
    } */

    .passinput{
        width: 350.93px;
        height: 46.05px;
        font-size: 30px;
    }
}