.loadingwrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.loadingbox{
    /* box-sizing: border-box;
    border: 1px solid white; */
    width: 10vmin;
    min-width: 50px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
}

.tick{
    position: absolute;
    height: 50%;
    width: 5%;
    border-radius: 10px;
    transform-origin: center bottom;
    background: linear-gradient(0deg, rgba(16,16,16,1) 40%, rgba(255,255,255,1) 40%);
}